html {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Spirax', sans-serif;
}

body {
    margin: 0;
}

header {
    width: 100%;
    padding-block: 8px;
    background-color: #a00b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    background-color: #101a;
    
}

nav {
    display: flex;
    flex-direction: row;
}

nav a {
    margin-inline: 20px;
    padding: 8px;
    color:white;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

#hot {
    width: 100%;
    min-width: 100%;
    height: 100vh;
    background:url("hot.jpg");
    
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    width: max-content;
    margin-left: auto; 
    margin-right: auto;
    margin-block: 0;

    color: #a00;
    font-size: 70px;

}

section .content {
    width: 70%;
    margin-inline: auto;
    position: absolute;
    top: 30%;
    top: 150px;
    left: 0;
    right: 0;
    
    /*background-color: #ada8;*/
}

section p {
    width: 80%;
    margin-inline: auto;
    margin-block: 28px;
    padding: 8px;
    color: white;
    background-color: #111;
    opacity: 0.75;
}

section p.to-left,
section p.to-right {
    background-color: #b00;
    text-align: center;
}

section p.to-left {
    margin-left: 0;
}
section p.to-right {
    margin-right: 0;
}

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}