body {
    margin: 0;
}

header {
    width: 100%;
    padding-block: 8px;
    background-color: #a00b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
}

header > a {
    margin-inline: 20px;
    padding: 8px;
    color:yellow;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

#hot {
    height: 100vh;
    background:url("hot.jpg");
    background-size: auto 100%;
}

h1 {
    width: max-content;
    margin-left: auto; 
    margin-right: auto;
    color: red;
    font-size: 70px;
    position: absolute;
    top: 30%;
    left: 0; 
    right: 0; 
}


